Ejercicios/Proyecto/k8s-cluster/.vagrant/machines/k8s-head/virtualbox/action_provision
Ejercicios/Proyecto/k8s-cluster/.vagrant/machines/k8s-head/virtualbox/action_set_name
Ejercicios/Proyecto/k8s-cluster/.vagrant/machines/k8s-head/virtualbox/box_meta
Ejercicios/Proyecto/k8s-cluster/.vagrant/machines/k8s-head/virtualbox/creator_uid
Ejercicios/Proyecto/k8s-cluster/.vagrant/machines/k8s-head/virtualbox/id
Ejercicios/Proyecto/k8s-cluster/.vagrant/machines/k8s-head/virtualbox/index_uuid
Ejercicios/Proyecto/k8s-cluster/.vagrant/machines/k8s-head/virtualbox/private_key
Ejercicios/Proyecto/k8s-cluster/.vagrant/machines/k8s-head/virtualbox/synced_folders
Ejercicios/Proyecto/k8s-cluster/.vagrant/machines/k8s-head/virtualbox/vagrant_cwd
Ejercicios/Proyecto/k8s-cluster/.vagrant/rgloader/loader.rb
